* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: #005299;
}

.App {
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 1.5s;
}

.sunny {
  background-image: url('https://images.unsplash.com/12/sun-trees.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=7200&q=80');
}

.rainy {
  background-image: url('https://images.unsplash.com/photo-1585920768861-e595e4bf7768?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=7200&q=80');
}

.cloudy {
  background-image: url('https://images.unsplash.com/photo-1541324919649-472dd786c224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=7200&q=80');
}

.container {
  min-height: 100vh;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.city, .temperature {
  text-align: right;
  color: #ffffff;
}

.city {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.temperature {
  font-size: 9rem;
  font-weight: 700;
}

.search input {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 2rem;
  color: #777777;
}

.weather-details {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
}

.weather-details > div {
  padding: 1.5rem;
  border-radius: 1rem;
  background: rgba(10,10,10,0.8);
}

.weather-details h5,
.weather-details p {
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.weather-details h5 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #ffffff;
}

.weather-details p {
  font-size: 1.25rem;
}

.weather-details p::first-letter {
  text-transform: uppercase;
}


